.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    padding: 1.2%;
    background-color: #169873;
    height: 30px;
    min-width: 80px;
    color: #f7f3e3;
    z-index: 25;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.blue {
    background-color: #5db7de;
}

.transparent {
    background-color: transparent;
}

.position-center {
    margin: 0 auto;
}
