.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

.form {
    background-color: #f7f3e3;
    padding: 4%;
    border-radius: 20px;
    width: fit-content;
}
